body {
    background-color: rgba(238, 179, 43, 0.849);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

ul li {
    float: left;
    display: block;
    padding: 10px;
    color: rgb(238, 179, 43);
}

h2 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    color: rgba(43, 43, 44, 0.9);
    grid-area: h4;
}

.card_image {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.btn {
    margin-left: 45%;
    border-style: solid;
    border-color: rgb(255, 224, 86);
    color: rgb(238, 179, 43);
}

.card {
    width: 25%;
    display: inline-block;
    margin: 30px;
    padding: 5px;
    border-color: rgb(255, 224, 86);
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba(238, 179, 43, 0.849);
}

